/Arraypractice.class
/Ch1practice.class
/Ch2practice.class
/Ch4practice.class
/Constructor.class
/ConstructorPractice.class
/Cylinder.class
/Employee.class
/Employees.class
/ExtractACharacterfromString.class
/JavaclassPractice.class
/LinkonWebpage.class
/LoopsPractice.class
/Methodspractice.class
/NewPrac.class
/NewPractice2.class
/Newpractice3.class
/Pallindrome.class
/Rectangle.class
/Remove_StringFrom.class
/RepeatedinString.class
/RepeatedinStringCount.class
/ReverseReplace.class
/listitem.class
/stringPractice.class
/switchcasep.class
